<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="mefConfig" type="Contracts.Common.MEFConfigurationElement, Contracts"/>
  </configSections>
  <mefConfig>
    <provider name="BaseTypes" value="baseType">
      <baseType type="Contracts.MyService, Contracts"/>
      <baseType type="OtherDependency.SomeDependency, OtherDependency"/>
    </provider>
  </mefConfig>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Some stuff">
        <endpoint address="MyService.svc" 
                  binding="basicHttpBinding" 
                  contract="Contracts.IService, Contracts"
                  name="Contracts.MyService"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="MyService.svc" 
             service="Contracts.MyService, Contracts" 
             factory="Contracts.MyServiceHostFactory, Contracts"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>